body {background-color:#FFE4C4}
h1{ font-size: 72px;
	font-family: Arial;
	color: #008000;
	text-align: center;
}

p{ font-size: 24px;
	font-family: Times;
	color: #008000;
	text-align: center;
}
img {
    border-radius: 8px;
    text-align: center;
    display: block;
    margin: auto;
    width: 20%;
}

ul{
	font-size: 30px;
	text-align: center;
	color:#8B0000;
}

li{ont-size: 25px;
	font-family: Times;
	text-align: center;
	list-style-type: none;color:	#6A5ACD;}


a {ont-size: 100px;
	font-family: Times;
	text-align: center;
	list-style-type: none;color:#8B0000;}
	.no-item{
	list-style-type: none;}
